.project-card-container {
  background-color: white;
  border-radius: 15px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  max-width: 400px;
}

.project-card-header {
  margin-bottom: 1rem;
}

.project-card-subheader {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}
.project-card-description {
  margin-top: 1rem;
}
.description-list {
  list-style: none;
  font-size: 0.8rem;
  line-height: 2;
}

.project-card-tech-stack-tags {
  display: flex;
  gap: 0.75rem;
  margin-top: 1rem;
  flex-wrap: wrap;

}
